<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All notes</title>
    <link rel="stylesheet" href="/CSS/navElements.css">
    <link rel="stylesheet" href="/CSS/signup.css">
    <link rel="stylesheet" href="/CSS/renderEl.css">

    <style>
        .main-content-container{
            display: flex;
        }

        .notes-list-container{
            width: 75%;
        }
        .filter-container{
            width: 25%;
            margin-left: 10px;
        }
        .page-numbers-container{
            text-align: center;
        }
        .page-numbers-container span{
            margin:15px;
            display: inline-block;
            width: 20px;
        }
        .page-numbers-container span:hover{
            background-color: #ccc;
            cursor: pointer;
            border-radius: 50%; 
        }

    </style>
</head>
    <body>
        {{>mainHeader}}
        {{>navElements}}

        <div class="main-content-container">
            {{>filterElements}}

            <div class="notes-list-container">
                {{>notesListheader}}
                {{#each notes}}
                    <div class="notes-card">
                        <span>{{this.name}}</span>
                        <span>{{this.semester}}</span>
                        <span>{{this.subject}}</span>
                        <span>{{this.time}}</span>
                        <span>{{this.teacherName}}</span>
                        <a href="/notes/{{this.notesId}}" title="notes download" target="_blank">Download</a>
                    </div>        
                {{/each}}
            </div>

        </div>

        {{>pageNumbers}}

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/clientJS/notes/allNotesPage.js"></script>
    </body>
</html>

