<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/pics/id-badge-solid.svg" type="image/svg+xml">
    <title>My Profile</title>
    <style>
        body{
            margin: 0 px;
            padding: 0 px ;
        }
        .background-container{
            background-color: #eef;
            height: 100vh;
            width: 100%;
            padding: 20px;
        }
        .information-container{
            margin-top: 50px;
            width: fit-content;
            margin: 80px auto 0px;
            border-radius: 5px;
            background-color: #ffb88c;
            padding: 20px;
            padding-left: 10em;
            padding-right: 10em ;

        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/CSS/navElements.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/basicStyles.css">
</head>
<body>
    {{>mainHeader}}
    {{>navElements}}

    <div class="background-container">
        <div class="information-container">
            <h3>{{name}}</h3>
            <p>from NIT Silchar</p>
            <p> <strong>Branch:</strong>  {{branch}}</p>
            <p><strong>Semester:</strong>  {{semester}}</p>
            <p><strong>Section:</strong>  {{section}}</p>
            <p><strong>Scholar ID:</strong>  {{scholar_no}}</p>
            <p><strong>Email:</strong>  {{email}}</p>
        </div>
    </div>
    {{>footer}}

</body>
</html>