{{!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/CSS/signup.css">
        {{!-- <link rel="stylesheet" href="../public/CSS/signup.css"> --}}
        <link rel="stylesheet" href="/CSS/renderEl.css">
        {{!-- <link rel="stylesheet" href="../public/CSS/renderEl.css"> This cant be used :/ --}}
        <title>Student Home</title>
    </head>
    <body>
        {{!-- <header class="header-style">
            <h1>Study Material Hub</h1>
        </header> --}}
        {{>mainHeader}}
        <section class="section-body">
            {{!-- <div class="links-to-surf">
                <ul>
                    <li><button class="links-to-surf-profile" >My Profile</button></li>
                    <li><button class="links-to-surf-logout">Log out</button></li>
                    <li><button  class="get-all-notes">All Notes</button></li>
                    <li><button class="get-my-notes-again">My Notes</button></li>                
                </ul>
            </div> --}}
            {{>navElements}}
            {{>notesListheader}}
            
            {{#each notes}}
                <div class="notes-card">
                    <span>{{this.name}}</span>
                    <span>{{this.semester}}</span>
                    <span>{{this.subject}}</span>
                    <span>{{this.time}}</span>
                    <span>{{this.teacherName}}</span>
                    <button onclick="downloadMaterial(this,'{{this.notesId}}')" >Download</button>
                </div>        
            {{/each}}
        </section>
        

        
<!--                                                                                        I WILL ADD THIS BUT LATER.
        <div class="filter-notes">
                <div class="filter-notes-inner">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name of the notes" >
                </div>
                <div class="filter-notes-inner">
                    <label>Subject</label>
                    <input type="text" name="subject" placeholder="subject" >
                </div>
                <div class="filter-notes-inner">
                    <label>Semester</label>
                    <input type="text" name="semester" placeholder="semester" >
                </div>
        </div>
-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/clientJS/student/studentFunc.js" ></script>
        <script src="/clientJS/student/studentMain.js" ></script>
    </body>
</html> --}}